{% extends 'store/base.html' %}
{% load static %}

{% block active1 %}class="nav-item"{% endblock active1 %}
{% block active2 %}class="nav-item"{% endblock active2 %}
{% block active4 %}class="nav-item active"{% endblock active4 %}

{% block content %}

{% block banniere %}
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Nos services</span>
            <h1 class="text-capitalize mb-5 text-lg">Que faisons-nous ?</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock banniere %}



<section class="section service-2 ">
	<div class="container">
		<div class="row">
            {% for service in Services %}
			<div class="col-lg-4 col-md-6 col-sm-6 reveal-on-scroll">
				<div class="service-block mb-5">
					<img src="{{ service.thumbnail.url }}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">{{service.nom}}</h4>
						<p class="mb-4">{{service.libelé}}</p>
					</div>
                    {% comment %} <form action="" method="post"> {% endcomment %}
                        {% comment %} {% csrf_token %} {% endcomment %}
                        {% comment %} <button  class=" btn-main-2 btn-icon btn-round-full " style="padding: 5px; border: none; ">Devis<i class="icofont-simple-right ml-2  "></i> {% endcomment %}
							<a href="{% url 'reserver' %}" class=" btn-main-2 btn-icon btn-round-full " style="padding: 5px; border: none; ">Demander un devis<i class="icofont-simple-right ml-2  "></i></a>
                    {% comment %} </form> {% endcomment %}
				</div>
			</div>
            {% endfor %}

			<!-- <div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="images/service/service-2.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Personal Care</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="images/service/service-3.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">CT scan</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="images/service/service-4.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Joint replacement</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="images/service/service-6.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Examination & Diagnosis</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="images/service/service-8.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Alzheimer's disease</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div> -->

		</div>

	</div>
</section>


{% endblock content %}